@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 10vh;
    background-color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 7rem;
    margin: 3rem;
}

nav{
    margin: 3rem;
}

.links{
    margin: 1rem;
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
}

main{
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left{
    margin: 5rem;
    width: 35vw;
    height: auto;
}

.right{
    margin: 5rem;
    width: 35vw;
    height: auto;
}

.landimg{
    margin: 5rem;
    width: 45vw;
    height: auto;
}

.title{
    font-size: 3.5rem;
}


.hero{
    width: 100vw;
    height: 85vh;
}

.start{
    width: 35vw;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 4rem;
}

.rank{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.midtitle{
    font-size: 3rem;
}

.subtitle{
    font-size: 1rem;
}

.lift{
    margin-top: -5vh;
    margin-right: -15vw;
}

.reght{
    margin-bottom: -25vh;
    margin-left: -15vw;
}

.purpose{
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dev{
    width: 25vw;
    height: auto;
}

.general{
    text-align: center;
    font-size: 1.5rem;
}

footer{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e;
}

.logof{
    width: 10rem;
    height: auto;
}